<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WinIt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>25DB24781D29C3E70050B2D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25DB248C1D29C3E70050B2D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25DB24971D29C3E70050B2D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
